<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Usuário</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/register_page_styles.css') }}">
</head>
<body>
    <div class="form-container">
        <h1>Cadastro de Usuário</h1>
        <form id="register-form" action="/register/" method="POST">
            <div class="input-group">
                <label for="user">Usuário</label>
                <input type="text" id="user" name="user" required>
            </div>
            <div class="input-group">
                <label for="senha">Senha:</label>
                <input type="password" id="password" name="password" required>
            </div>
            <div class="input-group">
                <label for="confirmar_senha">Confirmar Senha:</label>
                <input type="password" id="confirmar_senha" name="confirmar_senha" required>
            </div>
            <div class="button-group">
                <button type="submit" class="btn-primary">Cadastrar</button>
                <button type="button" class="btn-secondary" onclick="window.location.href='login'">Já tenho conta</button>
            </div>
        </form>        
    </div>
    <script src="{{ url_for('static', filename='js/register_page_scripts.js') }}"></script>
</body>
</html>
